<a href="/reader/article">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Article title</h2>
            <div class="badge badge-md">10th January 2024</div>
            <p>1 line, ellipsis</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
</a>