<!-- The list should display useful information about the articles including when they 
were created, published, last modified, number of reads and number of likes 
○ For each article the list should display a sharing link which points to the 
relevant Reader - Article Page 
○ For each article there should be a delete button for the article. When pressed this 
should: 
■ Remove the article from the database 
■ Reload the page to display the updated information -->

<div class="card card-side bg-base-100 shadow-xl">
  <!-- <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
        alt="Movie"
      />
    </figure> -->
  <div class="card-body">
    <h2 class="card-title">New movie is released!</h2>
    <p>Description goes in here</p>
    <p>Created: 2022-10-10</p>
    <p>Published: 2022-10-10</p>
    <p>Last Modified: 2022-10-10</p>
    <div class="card-actions justify-end items-center">
        <div class="badge badge-lg">Views: 10</div>
        <div class="badge badge-lg">Likes: 10</div>
      <button class="btn btn-error">Delete</button>
      <button class="btn btn-secondary">Share</button>
      <button class="btn btn-primary">View</button>
    </div>
  </div>
</div>
