<tr class="hover w-fit">
    <td>
        <%= typeof(article) != 'undefined' ? article.title : "" %>    
    </td>
    <td><%= typeof(article) != 'undefined' ? article.created_at : "" %></td>
    <td><%= typeof(article) != 'undefined' ? article.published_at : "" %></td>
    <td><%= typeof(article) != 'undefined' ? article.updated_at : "" %></td>
    <td class="flex gap-x-2">
        <button class="btn btn-error btn-sm">Delete</button>
        <button class="btn btn-secondary btn-sm">Edit</button>
        <button class="btn btn-primary btn-sm">Publish</button>
    </td>

    <td></td>
</tr>
