<tr class="hover w-fit">
    <td>
        Adipisicing excepteur est non nisi ad minim incididunt in laboris. Adipisicing excepteur est non nisi ad minim incididunt in laboris deserunt nulla labore.
    </td>
    <td>Purple</td>
    <td>2019/03/03</td>
    <td>$58,000</td>
    <td>$58,000</td>
    <td>$58,000</td>
    <td class="flex gap-x-2">
        <button class="btn btn-error btn-sm">Delete</button>
        <button class="btn btn-secondary btn-sm">Share</button>
        <button class="btn btn-primary btn-sm">View</button>
    </td>

    <td></td>
</tr>
