<div class="chat chat-start">
    <div class="chat-header">
        Commenter Name
        <time class="text-xs opacity-50">14th January 2024</time>
    </div>
    <div class="chat-bubble">Good work!</div>
</div>