<div class="chat chat-start">
    <div class="chat-header">
        <%= typeof(comment) != 'undefined' ? comment.commenter_name : "Commenter" %>
        <time class="text-xs opacity-50"><%= typeof(comment) != 'undefined' ? comment.comment_date : "Now" %> </time>
    </div>
    <div class="chat-bubble"><%= typeof(comment) != 'undefined' ? comment.comment : "Good work!" %></div>
</div>