<div class="toast toast-center toast-top">
    <% if(typeof(message) != undefined) if(message != ""){ %>
    <div class="alert bg-base-300 border-base-300 shadow-xl">
        <span><%= message %></span>
    </div>
    <% } %>
</div>
