<div class="toast">
  <% if(typeof(message) != undefined) if(message != ""){ %>
  <div class="alert alert-info">
    <span><%= message %></span>
  </div>
  <% } %>
  <!-- <div class="alert alert-info">
    <span>New message arrived.</span>
  </div> -->
</div>
