<!-- Hero -->
<div class="hero h-fit bg-base-100 py-16">
  <div class="container flex-col px-4 lg:flex-row">
    <div>
      <h1 class="text-5xl font-bold"><%= title ? title : ""%></h1>
      <p class="pt-6"><%= description ? description : ""%></p>
    </div>
  </div>
</div>
